POSTGRES_USER=finuser
POSTGRES_PASSWORD=finpassword
POSTGRES_DB=fincompliance
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

MONGO_URL=mongodb://mongo:27017
MONGO_DB=fincompliance

CHROMA_HOST=chroma
CHROMA_PORT=8000

EVENT_SERVICE_URL=http://event-service:3001

OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=gemma3:4b
OLLAMA_EMBEDDING_MODEL=embeddinggemma

VITE_API_URL=http://localhost:8000
